# Virtual environment
venv/
.venv/
env/
bin/
lib/
share/
Include/
pyvenv.cfg

# Data
data/*
!data/trained_models/
!data/trained_models/**/*.joblib
!data/processed/
!data/processed/*.joblib
data/processed/X_unscaled.joblib



# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/

# Streamlit (Legacy)
app.py
src/app.py
.streamlit/

# OS/Temp
.DS_Store
Thumbs.db
node_modules
.next
.env*
*.log
dist/
build/
